<!--
//
// Dados recebidos:
// ================
//
// * title - Título da página.
// * images[] - Lista de imagens do site.
//
//-->

<title>
  <% if (title) { %>
    <%= title %> | Matheus Alves
  <% } else { %>
    Matheus Alves
  <% } %>
</title>

<!-- Bootstrap -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<!-- Font Awesome -->
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous"
/>

<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700"
  rel="stylesheet"
/>

<!-- Styles -->
<link
  rel="stylesheet"
  href="/styles/index.css"
/>

<link rel="preconnect" href="https://fonts.gstatic.com/">
<link rel="preconnect" href="https://use.fontawesome.com/">

<% images.forEach((url) => { %>
  <link rel="preload" as="image" href="<%= url %>">
<% }) %>

<link rel="canonical" href='https://theuves.github.io/'>

<meta property="og:url" content="https://theuves.github.io/">
<meta property="og:title" content="Matheus Alves">
<meta property="og:description" content="Site pessoal de Matheus Alves.">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@theuves">
<meta name="twitter:title" content="Matheus Alves">
<meta name="twitter:description" content="Site pessoal de Matheus Alves.">
