<!DOCTYPE html>
<html lang="pt-BR">
  <%-
    include(
      '_includes/head.ejs',
      {
        title: false,
        images: images
      }
    )
  %>

  <body>
    <div class="container">
      <%- include('_includes/nav.ejs') %>

      <main>
        <div class="images">
          <% [...Array(6)].forEach(() => { %>
            <div class="img"></div>
          <% }) %>
        </div>

        <article class="article">
          <p>Olá, eu sou Matheus Alves (conhecido como <b>@theuves</b> na <i>internet</i>). Tenho trabalhado ativamente há cerca de 5 anos em projetos pessoais de código-aberto no <a href="https://github.com/">GitHub</a>, criando dezenas de ferramentas e bibliotecas JavaScript voltadas para a comunidade lusófona. Tenho interesse também pelo desenvolvimento <i>front-end</i> com <a href="https://reactjs.org/">React.js</a> e outras tecnologias modernas do gênero.</p>

          <p>Você pode ver meus códigos no <a href="https://github.com/theuves">GitHub</a>, também pode ver alguns pensamentos, rascunhos e outras coisas aleatórias no meu <a href="https://twitter.com/theuves">Twitter</a>, além de alguns desenhos e rabiscos que eu costumo chamar de arte no <a href="https://theuves.deviantart.com/">deviantART</a>.</p>
        </article>

      </main>
    </div>

    <%- include('_includes/scripts.ejs') %>  
  </body>
</html>