@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap');

html,
body {
  --margin: 40px;
  --link-color: blue;
  padding: 0;
  margin: 0;
  font-family: Martel, 'Times New Roman', Times, serif;
  font-size: 18px;
}

body {
  line-height: 1.9;
  margin-bottom: calc(var(--margin));
}

* {
  box-sizing: border-box;
}

*::selection {
  color: white;
  background-color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 10px;
}

a {
  color: blue;
}

a:hover {
  color: darkblue
}

ul {
  margin: 0;
}

.article  {
  background-color: white;
}

.article code {
  color: #c02626;
  background-color: #f3eaea;;
}

.article pre {
  padding: 10px 20px;
  background-color: #eee;
  overflow-x: auto;
}

.article pre code {
  all: unset;
}

.article p {
  margin-bottom: 30px;
}